body{
    background-color:#070830;
    font-family: Candara;
    font-weight: bold;
    color: rgb(19, 9, 93);
}
h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
h3 {
    text-align: center;
}

#enlaceKepri{
    color: yellow;
}
#enlaceKepri:hover{
    color: red;
}

#keprigames{
    background-image: url("assets/fondo.png");
}

.logoInicio{
    width:90vw;
    padding-top: 10vh;
}

.logoGames{
    width:45vw;
}

/*------------------------Barra superior----------------------- */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #b3c8e0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  padding-top: 3vh;
  padding-bottom: 3vh;
  text-decoration: none;
  color:rgb(19, 9, 93);
}

li a:hover {
  background-color: #e1d04f;
}

.barraSuperior{
    position: fixed;
    width:100vw;
    top: 0px;
    z-index: 7;
}

/* - -  Otros - - */
.separador{
    background-color: #b3c8e0;
        margin-left:60px;
    margin-right:60px;
}

footer {
    text-align:center;
    background-color: #b3c8e0;
}

.centrado {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*------------------------Botones----------------------- */

.button {
    background-color: #edc537;
    color: #FFFFFF;
    padding: 10px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin:10px;
    cursor: pointer; /* Cambiar el icono del mouse al estar sobre el botón */
    font-family: inherit;
}
.button:hover {
    background-color: #ed912d; /* Green */
    color: #FFFFFF;
}

.small-btn {
    /*width: 50px;
    height: 30px;*/
    font-size: 12px;
}

.medium-btn {
    font-size: 18px;
    padding: 0px;
    border:4px solid #c237cd
}

.big-btn {
    font-size: 25px;
    width: 50vw;
}

/*------------------------Juegos----------------------- */

.juegos{  
   background-image: url("assets/ap-fondo.png");
}

.juego{  
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.descripcion{
    margin:60px;
    font-size:22px;
    color:white;
}